!!!
%html
  %head
    %title BackboneOnRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if content_for? :page_js
      = content_for :page_js
    = csrf_meta_tags
  %body
    %header.navbar.navbar-inverse.navbar-fixed-top
      .container
        %a.navbar-brand{href: root_path} BackboneOnRails
    #main.container
      = yield
